body {
    font-family: 'Barlow', sans-serif;
    margin: 0;
}

.button-header {
    font-family: Barlow;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 26px;
    /* identical to box height, or 162% */
    text-transform: uppercase;
    color: #162542;
    border: none;
    border-radius: 8px;
}

h1 {
    font-family: Barlow;
    font-style: normal;
    font-weight: 900;
    text-transform: uppercase;
    color: #162542;
}

.description1 {
    font-family: Barlow;
    font-style: normal;
    font-weight: 500;
    color: #7B8BAD;
}

.button-main {
    font-family: Barlow;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 26px;
    /* identical to box height, or 162% */
    text-transform: uppercase;
    color: #FFFFFF;
    background: #F16718;
    border: none;
    border-radius: 8px;
}

.date-release {
    font-family: Barlow;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 26px;
    /* identical to box height, or 162% */
    text-transform: uppercase;
    color: #7B8BAD;
}

.keyboard-phone {
    background: linear-gradient(rgba(255, 0, 0, 0.45),
            rgba(255, 0, 0, 0.45)), url(assets/mobile/image-phone-and-keyboard.jpg);

    background-size: cover;
    border-radius: 20px;
}

h2 {
    font-family: Barlow;
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 36px;
    /* or 112% */
    text-transform: uppercase;
    color: #162542;
}

.descripcion2 {
    font-family: Barlow;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    /* or 162% */
    color: #7B8BAD;
}

/* Characteristics */


.characteristic1,
.characteristic2,
.characteristic3, .characteristic4 {
    background: #F16718;
    border-radius: 16px;
}

.charateristic-header-1,
.charateristic-header-2,
.charateristic-header-3,
.charateristic-header-4 {
    font-family: Barlow;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 28px;
    /* or 117% */
    text-transform: uppercase;
    color: #162542;
}

.charateristic-description-1,
.charateristic-description-2,
.charateristic-description-3,
.charateristic-description-4 {
    font-family: Barlow;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    /* or 162% */
    color: #7B8BAD;
}

/* Characteristic 1 */
#compatible {
    position: absolute;
    width: 25.14px;
    left: 21px;
    top: 22px;
}

/* Characteristic 2 */
#bluetooth {
    position: absolute;
    width: 25.14px;
    left: 21px;
    top: 19px;
    height: 27.86px;
}

/* Characteristic 3 */

#battery {
    position: absolute;
    width: 30px;
    left: 19px;
    top: 19px;
    height: 25px;
}

/* Characteristic 4 */

#light {
    position: absolute;
    width: 25px;
    height: 25px;
    left: 20px;
    top: 20px;
}

.footer {
    font-family: Barlow;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 26px;
    /* identical to box height, or 162% */


    color: #7B8BAD;
}

/* For Mobile */

@media (max-width: 400px) {

    /* Header Section */

    #logo {
        position: absolute;
        left: 24px;
        top: 27px;

    }

    .button-header {
        position: absolute;
        width: 151px;
        height: 48px;
        left: 200px;
        top: 23px;
    }

    /* Main Section */

    h1 {
        position: absolute;
        width: 327px;
        height: 96px;
        left: 24px;
        top: 135px;
        font-size: 48px;
        line-height: 48px;
        /* or 100% */
        margin-top: 0;
    }

    .description1 {
        position: absolute;
        width: 327px;
        height: 78px;
        left: 24px;
        top: 263px;
        font-size: 16px;
        line-height: 26px;
        /* or 162% */
        margin-top: 0;
    }

    .final-div-des {
        position: absolute;
        width: 310px;
        height: 48px;
        left: 24px;
        top: 373px;
    }

    .button-main {
        position: absolute;
        left: 0%;
        right: 0%;
        top: 0%;
        bottom: 0%;
        height: 48px;
        width: 150px;
    }

    .date-release {
        position: absolute;
        height: 26px;
        left: 58.71%;
        right: 0.32%;
        top: calc(50% - 26px/2);
        margin-top: 0;
        width: 130px;
    }

    /* Images Section - Mobile */
    .desktop-img,
    .tablet-img,
    .desktop-box-right,
    .desktop-box-left,
    #mobile-keyboard-phone {
        display: none;
    }

    #mobile-keyboard {
        position: absolute;
        width: 380px;
        height: 331px;
        left: 24px;
        top: 485px;
        border-radius: 15px;
        right: 0;
    }

    .keyboard-phone {

        position: relative;
        width: 129px;
        height: 193px;
        left: -22px;
        top: 840px;
    }

    #mobile-keyboard-glass {
        position: absolute;
        width: 240px;
        height: 193px;
        left: 131px;
        top: 840px;
        border-radius: 20px;
    }

    /* H2 Section */

    h2 {
        position: absolute;
        width: 255px;
        height: 108px;
        left: 68px;
        top: 1108px;
        margin-top: 0;
        text-align: center;

    }

    .descripcion2 {
        position: absolute;
        width: 327px;
        height: 104px;
        left: 24px;
        top: 1240px;
        text-align: center;
    }

    /* Characteristics */

    /* Characteristic 1 */
    .characteristic1 {
        position: absolute;
        width: 65px;
        height: 65px;
        left: 155px;
        top: 1455px;
    }



    .charateristic-header-1 {
        position: absolute;
        width: 327px;
        height: 56px;
        left: 35px;
        top: 1568px;
        text-align: center;
    }

    .charateristic-description-1 {
        position: absolute;
        width: 327px;
        height: 104px;
        left: 35px;
        top: 1648px;
        text-align: center;
    }

    /* Characteristic 2 */
    .characteristic2 {
        position: absolute;
        width: 65px;
        height: 65px;
        left: 155px;
        top: 1816px;
    }

    .charateristic-header-2 {
        position: absolute;
        width: 327px;
        height: 56px;
        left: 35px;
        top: 1929px;
        text-align: center;
    }

    .charateristic-description-2 {
        position: absolute;
        width: 327px;
        height: 104px;
        left: 35px;
        top: 2009px;
        text-align: center;
    }

    /* Characteristic 3 */

    .characteristic3 {
        position: absolute;
        width: 65px;
        height: 65px;
        left: 155px;
        top: 2177px;
    }



    .charateristic-header-3 {
        position: absolute;
        width: 327px;
        height: 56px;
        left: 35px;
        top: 2290px;
        text-align: center;
    }

    .charateristic-description-3 {
        position: absolute;
        width: 327px;
        height: 104px;
        left: 35px;
        top: 2370px;
    }

    /* Characteristic 4 */

    .characteristic4 {
        position: absolute;
        width: 65px;
        height: 65px;
        left: 155px;
        top: 2538px;
    }

    .charateristic-header-4 {
        position: absolute;
        width: 327px;
        height: 56px;
        left: 35px;
        top: 2651px;
        text-align: center;
    }

    .charateristic-description-4 {
        position: absolute;
        width: 327px;
        height: 104px;
        left: 35px;
        top: 2731px;
    }

    .footer {
        position: absolute;
        width: 272px;
        height: 26px;
        left: 71px;
        top: 2931px;

        font-family: Barlow;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 26px;
        /* identical to box height, or 162% */

        text-align: center;

        color: #7B8BAD;
    }

}

/* For Tablet */

@media (min-width: 401px) and (max-width: 750px) {

    /* Header Section */
    #logo {
        position: absolute;
        width: 40px;
        height: 40px;
        left: 39px;
        top: 49px;

        background: #F16718;
    }

    .button-header {
        position: absolute;
        width: 175px;
        height: 58px;
        left: 700px;
        top: 40px;
    }

    /* Main Section */

    h1 {
        position: absolute;
        width: 339px;
        height: 96px;
        left: 39px;
        top: 220px;
        font-size: 48px;
        line-height: 48px;
        /* or 100% */
        margin: 0;
    }

    .description1 {
        position: absolute;
        width: 339px;
        height: 78px;
        left: 39px;
        top: 350px;
        font-size: 16px;
        line-height: 26px;
        /* or 162% */
    }

    .button-main {
        position: absolute;
        width: 175px;
        height: 58px;
        left: 39px;
        top: 467px;
    }

    .date-release {
        position: absolute;
        width: 130px;
        height: 26px;
        left: 251px;
        top: 483px;
        margin-top: 0;

    }

    /* Images Section - Table */

    .desktop-img,
    .mobile-img,
    .desktop-box-right,
    .desktop-box-left,
    #tablet-keyboard-phone {
        display: none;
    }

    #tablet-keyboard {
        position: absolute;
        width: 478px;
        height: 425px;
        left: 445px;
        top: 157px;
        border-radius: 20px;
    }

    .keyboard-phone {
        position: absolute;
        width: 275px;
        height: 320px;
        left: 39px;
        top: 625px;

    }

    #tablet-keyboard-glass {
        position: absolute;
        width: 515px;
        height: 320px;
        left: 350px;
        top: 625px;
        border-radius: 20px;
    }

    /* H2 Section */

    h2 {
        position: absolute;
        width: 255px;
        height: 108px;
        left: 39px;
        top: 1017px;


        margin-top: 13px;
    }

    .descripcion2 {
        position: absolute;
        width: 398px;
        height: 78px;
        left: 370px;
        top: 1032px;
    }

    /* Characteristics */

    /* Characteristic 1 */

    .characteristic1 {
        position: absolute;
        width: 65px;
        height: 65px;
        left: 39px;
        top: 1267px;
    }

    .charateristic-header-1 {
        position: absolute;
        width: 100px;
        height: 56px;
        left: 39px;
        top: 1372px;
        margin-top: 0;



    }

    .charateristic-description-1 {
        position: absolute;
        width: 281px;
        height: 104px;
        left: 39px;
        top: 1440px;
    }

    /* Characteristic 2 */

    .characteristic2 {
        position: absolute;
        width: 65px;
        height: 65px;
        left: 430px;
        top: 1267px;
    }

    .charateristic-header-2 {
        position: absolute;
        width: 255px;
        height: 56px;
        left: 430px;
        top: 1372px;
        margin-top: 0;
    }

    .charateristic-description-2 {
        position: absolute;
        width: 281px;
        height: 104px;
        left: 430px;
        top: 1440px;
    }

    /* Characteristic 3 */

    .characteristic3 {
        position: absolute;
        width: 65px;
        height: 65px;
        left: 39px;
        top: 1628px;
    }

    .charateristic-header-3 {
        position: absolute;
        width: 200px;
        height: 56px;
        left: 39px;
        top: 1733px;
        margin-top: 0;
    }

    .charateristic-description-3 {
        position: absolute;
        width: 281px;
        height: 104px;
        left: 39px;
        top: 1800px;
    }


    /* Characteristic 4 */

    .characteristic4 {
        position: absolute;
        width: 65px;
        height: 65px;
        left: 430px;
        top: 1628px;
    }

    .charateristic-header-4 {
        position: absolute;
        width: 200px;
        height: 56px;
        left: 430px;
        top: 1733px;
        margin-top: 0;
    }

    .charateristic-description-4 {
        position: absolute;
        width: 281px;
        height: 104px;
        left: 430px;
        top: 1800px;
    }

    .footer {
        position: absolute;
        width: 300px;
        height: 26px;
        left: 330px;
        top: 2000px;
    }

}

/* For Desktop */

@media (min-width: 751px) and (max-width: 1366px) {


    /* Header Section */
    #logo {
        position: absolute;
        width: 40px;
        height: 40px;
        left: 165px;
        top: 64px;
        background: #F16718;
    }

    .button-header {
        position: absolute;
        width: 175px;
        height: 58px;
        left: 1050px;
        top: 55px;
    }

    .button-header:hover {
        background: #162542;
        color: #FFF;
    }

    /* Main Section */

    h1 {
        position: absolute;
        width: 445px;
        height: 312px;
        left: 165px;
        top: 256px;
        font-size: 56px;
        line-height: 56px;
        /* or 100% */
    }

    .description1 {
        position: absolute;
        width: 445px;
        height: 312px;
        left: 165px;
        top: 425px;
        font-size: 18px;
        line-height: 26px;
        /* or 144% */
    }

    .button-main {
        position: absolute;
        width: 175px;
        height: 58px;
        left: 165px;
        top: 560px;
    }

    .button-main:hover {
        background: #FF9B62;
        ;
    }

    .date-release {
        position: absolute;
        width: 175px;
        height: 58px;
        left: 450px;
        top: 560px;
    }

    /* Images Section - Table */

    .tablet-img,
    .mobile-img,
    #desktop-keyboard-phone,
    #box-right {
        display: none;
    }

    #desktop-keyboard {
        position: absolute;
        width: 540px;
        height: 480px;
        left: 685px;
        top: 196px;
        border-radius: 20px;
    }

    .desktop-box-right {
        background-image: url(assets/shared/pattern-square.svg);
        position: absolute;
        width: 79px;
        height: 240px;
        left: 1270px;
        top: 196px;
        right: 0;
    }

    .desktop-box-left {
        position: absolute;
        width: 255px;
        height: 236px;
        left: -120px;
        top: 950px;
    }

    .keyboard-phone {
        position: absolute;
        width: 255px;
        height: 480px;
        left: 165px;
        top: 706px;
    }

    #desktop-keyboard-glass {
        position: absolute;
        width: 445px;
        height: 480px;
        left: 450px;
        top: 706px;
        border-radius: 20px;

    }

    /* H2 Section */

    h2 {
        position: absolute;
        width: 255px;
        height: 108px;
        left: 1020px;
        top: 818px;
    }

    .descripcion2 {
        position: absolute;
        width: 255px;
        height: 130px;
        left: 1020px;
        top: 953px;
    }


    /* Characteristics */

    /* Characteristic 1 */

    .characteristic1 {
        position: absolute;
        width: 65px;
        height: 65px;
        left: 165px;
        top: 1354px;
    }

    .charateristic-header-1 {
        position: absolute;
        width: 255px;
        height: 56px;
        left: 165px;
        top: 1467px;
    }

    .charateristic-description-1 {
        position: absolute;
        width: 255px;
        height: 130px;
        left: 165px;
        top: 1547px;
    }

    /* Characteristic 2 */

    .characteristic2 {
        position: absolute;
        width: 65px;
        height: 65px;
        left: 450px;
        top: 1354px;
    }

    .charateristic-header-2 {
        position: absolute;
        width: 255px;
        height: 56px;
        left: 450px;
        top: 1467px;
    }

    .charateristic-description-2 {
        position: absolute;
        width: 255px;
        height: 130px;
        left: 450px;
        top: 1547px;
    }

    /* Characteristic 3 */

    .characteristic3 {
        position: absolute;
        width: 65px;
        height: 65px;
        left: 735px;
        top: 1354px;
    }

    .charateristic-header-3 {

        position: absolute;
        width: 255px;
        height: 56px;
        left: 735px;
        top: 1467px;
    }

    .charateristic-description-3 {
        position: absolute;
        width: 255px;
        height: 130px;
        left: 735px;
        top: 1547px;
    }

    /* Characteristic 4 */

    .characteristic4 {
        position: absolute;
        width: 65px;
        height: 65px;
        left: 1020px;
        top: 1354px;
    }

    .charateristic-header-4 {
        position: absolute;
        width: 255px;
        height: 56px;
        left: 1020px;
        top: 1467px;
    }

    .charateristic-description-4 {
        position: absolute;
        width: 255px;
        height: 130px;
        left: 1020px;
        top: 1547px;
    }

    /* Footer */

    .footer {
        position: absolute;
        width: 300px;
        height: 26px;
        left: 550px;
        top: 1805px;
    }
}

@media (min-width: 1367px) and (max-width: 1920px){
    .parent-container{
        max-width: 1920px;
    }

    /* Header Section */
    #logo {
        position: absolute;
        width: 50px;
        height: 50px;
        left: 300px;
        top: 64px;
        background: #F16718;
    }

    .button-header {
        position: absolute;
        width: 175px;
        height: 58px;
        left: 1500px;
        top: 55px;
    }

    .button-header:hover {
        background: #162542;
        color: #FFF;
    }

    /* Main Section */

    h1 {
        position: absolute;
        width: 445px;
        height: 312px;
        left: 300px;
        top: 256px;
        font-size: 56px;
        line-height: 56px;
        /* or 100% */
    }

    .description1 {
        position: absolute;
        width: 445px;
        height: 312px;
        left: 300px;
        top: 425px;
        font-size: 18px;
        line-height: 26px;
        /* or 144% */
    }

    .button-main {
        position: absolute;
        width: 175px;
        height: 58px;
        left: 300px;
        top: 560px;
    }

    .button-main:hover {
        background: #FF9B62;
        ;
    }

    .date-release {
        position: absolute;
        width: 175px;
        height: 58px;
        left: 570px;
        top: 560px;
    }

    /* Images Section - Table */

    .tablet-img,
    .mobile-img,
    #desktop-keyboard-phone,
    #box-right {
        display: none;
    }

    #desktop-keyboard {
        position: absolute;
        width: 675px;
        height: 480px;
        left: 1000px;
        top: 196px;
        border-radius: 20px;
    }

    .desktop-box-right {
        background-image: url(assets/shared/pattern-square.svg);
        position: absolute;
        width: 170px;
        height: 240px;
        left: 1750px;
        top: 196px;
        right: 0;
    }

    .desktop-box-left {
        position: absolute;
        width: 300px;
        height: 236px;
        left: -50px;
        top: 950px;
    }

    .keyboard-phone {
        position: absolute;
        width: 300px;
        height: 480px;
        left: 300px;
        top: 706px;
    }

    #desktop-keyboard-glass {
        position: absolute;
        width: 600px;
        height: 480px;
        left: 680px;
        top: 706px;
        border-radius: 20px;

    }

    /* H2 Section */

    h2 {
        position: absolute;
        width: 255px;
        height: 108px;
        left: 1400px;
        top: 818px;
    }

    .descripcion2 {
        position: absolute;
        width: 255px;
        height: 130px;
        left: 1400px;
        top: 953px;
    }


    /* Characteristics */

    /* Characteristic 1 */

    .characteristic1 {
        position: absolute;
        width: 65px;
        height: 65px;
        left: 300px;
        top: 1354px;
    }

    .charateristic-header-1 {
        position: absolute;
        width: 200px;
        height: 56px;
        left: 300px;
        top: 1467px;
    }

    .charateristic-description-1 {
        position: absolute;
        width: 255px;
        height: 130px;
        left: 300px;
        top: 1547px;
    }

    /* Characteristic 2 */

    .characteristic2 {
        position: absolute;
        width: 65px;
        height: 65px;
        left: 640px;
        top: 1354px;
    }

    .charateristic-header-2 {
        position: absolute;
        width: 255px;
        height: 56px;
        left: 640px;
        top: 1467px;
    }

    .charateristic-description-2 {
        position: absolute;
        width: 255px;
        height: 130px;
        left: 640px;
        top: 1547px;
    }

    /* Characteristic 3 */

    .characteristic3 {
        position: absolute;
        width: 65px;
        height: 65px;
        left: 950px;
        top: 1354px;
    }

    .charateristic-header-3 {

        position: absolute;
        width: 255px;
        height: 56px;
        left: 950px;
        top: 1467px;
    }

    .charateristic-description-3 {
        position: absolute;
        width: 255px;
        height: 130px;
        left: 950px;
        top: 1547px;
    }

    /* Characteristic 4 */

    .characteristic4 {
        position: absolute;
        width: 65px;
        height: 65px;
        left: 1300px;
        top: 1354px;
    }

    .charateristic-header-4 {
        position: absolute;
        width: 255px;
        height: 56px;
        left: 1300px;
        top: 1467px;
    }

    .charateristic-description-4 {
        position: absolute;
        width: 255px;
        height: 130px;
        left: 1300px;
        top: 1547px;
    }

    /* Footer */

    .footer {
        position: absolute;
        width: 300px;
        height: 26px;
        left: 550px;
        top: 1805px;
    }
}